body {
  background-color: #fff;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  padding: 24px !important;
}

.fullDimension {
  width: 100%;
  height: 100%;
}

.tabPanelContainer {
  padding: 24px 0 0 0;
  width: 100%;
}

.tabPanel {
  max-width: 620px;
  width: 100%;
  margin-right: 20px;
}

.tabPage {
  padding: 24px 0 0 0;
}

.exampleChart {
  min-height: 280px;
}
