.formContainer {
  border-radius: 2px;
  padding: 5px;
  width: 300px;
  height: 400px;
  margin: auto;
  margin-top: 200px;
}

.error {
  color: 'red';
}

.authButton {
  width: 212px !important;
}

.footer {
  margin-top: 50px !important;
}
